[mysqld]
bind-address = 0.0.0.0
default_authentication_plugin=mysql_native_password
character_set_server=utf8mb4
collation-server = utf8mb4_unicode_ci
log-bin=mysql-bin
server-id=1
max_connections=1000
sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'

[client] 
default-character-set=uutf8mb4

[mysql] 
default-character-set=utf8mb4
sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'

